
fastapi
uvicorn
python-jose
passlib
argon2-cffi
pydantic[email]
sqlalchemy
psycopg2-binary
langchain
langchain-google-genai
langchain-text-splitters
langchain-community
google-generativeai
chromadb
faiss-cpu
python-multipart
speechrecognition
pydub
python-dotenv
pdfplumber
