
fastapi
uvicorn
python-jose
passlib
sqlalchemy
psycopg2-binary
langchain
langchain-google-genai
langchain-text-splitters
langchain-community
google-generativeai
chromadb
faiss-cpu
python-multipart
speechrecognition
pydub
python-dotenv
pdfplumber
